name: Build and release Aseprite

on:
  push:
    branches:
      - main
    paths:
      - 'BuildLog.md'
  workflow_dispatch:

env:
  BUILD_TYPE: Release

jobs:
  fetch-aseprite-info:
    name: Fetch deps info
    runs-on: ubuntu-latest
    outputs:
      download-link: ${{ steps.aseprite-link.outputs.download-link }}
      release-tag: ${{ steps.aseprite-link.outputs.release-tag }}
    steps:
      - name: Fetch Aseprite release link
        id: aseprite-link
        uses: a1393323447/fetch-release@main
        with:
          group: aseprite
          repo: aseprite
          match: Aseprite-.*?-Source.zip

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: fetch-aseprite-info
    permissions:
      contents: write
    outputs:
      download-link: ${{ needs.fetch-aseprite-info.outputs.download-link }}
      release-tag: ${{ needs.fetch-aseprite-info.outputs.release-tag }}
    steps:
      - uses: actions/checkout@v2
      - uses: ncipollo/release-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ needs.fetch-aseprite-info.outputs.release-tag }}
          body: Aseprite-${{ needs.fetch-aseprite-info.outputs.release-tag }}
          name: "Draft Release Aseprite ${{ needs.fetch-aseprite-info.outputs.release-tag }}"
          skipIfReleaseExists: true
          draft: true
          prerelease: false
          
  build-aseprite:
    name: Build Aseprite
    needs: create-release
    permissions:
      contents: write
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macOS-latest ]
      fail-fast: false
    steps:
      - name: Install Dependencies
        if: ${{ runner.os == 'Linux' }}
        shell: bash
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y \
            libpixman-1-dev libfreetype6-dev libharfbuzz-dev zlib1g-dev \
            libx11-dev libxcursor-dev libxi-dev libxrandr-dev libgl1-mesa-dev \
            libfontconfig1-dev
      - uses: actions/checkout@v4
      - name: Install Aseprite source
        shell: bash
        run: |
          git clone --recurse-submodules -j8 https://github.com/aseprite/aseprite --branch ${{ needs.create-release.outputs.release-tag }}
      - name: Install Skia
        shell: bash
        working-directory: aseprite
        run: |
          if [[ "${{ runner.os }}" == "Windows" ]]; then
            choco install wget -y --no-progress
            wget https://github.com/aseprite/skia/releases/download/m124-08a5439a6b/Skia-Windows-Release-x64.zip
            unzip Skia-Windows-Release-x64.zip -d skia
          elif [[ "${{ runner.os }}" == "macOS" ]]; then
            wget https://github.com/aseprite/skia/releases/download/m124-08a5439a6b/Skia-macOS-Release-arm64.zip
            unzip Skia-macOS-Release-arm64.zip -d skia
          else
            wget https://github.com/aseprite/skia/releases/download/m124-08a5439a6b/Skia-Linux-Release-x64.zip
            unzip Skia-Linux-Release-x64.zip -d skia
          fi
      - uses: aseprite/get-ninja@main
      - uses: ilammy/msvc-dev-cmd@v1
        if: ${{ runner.os == 'Windows' }}
      - name: Generating Makefiles
        shell: bash
        working-directory: aseprite
        run: |
          export enable_ccache=off
          export laf_backend=skia
          export enable_scripting=on

          if [[ "${{ runner.os }}" == "macOS" ]]; then
            export skia_arch=arm64
          else
            export skia_arch=x64
          fi

          cmake -S . -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=$BUILD_TYPE \
            -DCMAKE_OSX_DEPLOYMENT_TARGET=10.9 \
            -DENABLE_TESTS=OFF \
            -DENABLE_SCRIPTING=$enable_scripting \
            -DENABLE_CCACHE=$enable_ccache \
            -DLAF_BACKEND=$laf_backend \
            -DSKIA_DIR=$(realpath skia) \
            -DOPENSSL_USE_STATIC_LIBS=ON \
            -DSKIA_LIBRARY_DIR=$(realpath skia/out/Release-$skia_arch)
            
      - name: Compiling
        shell: bash
        working-directory: aseprite
        run: |
          cd build && ninja
          
      - name: Create bundle folder (macOS only)
        if: ${{ runner.os == 'macOS' }}
        run: |
          mkdir -p bundle/mount
      
      - name: Download Aseprite trial (macOS only)
        if: ${{ runner.os == 'macOS' }}
        working-directory: bundle
        shell: bash
        run: |
          curl -O -J "https://www.aseprite.org/downloads/trial/Aseprite-${{ needs.create-release.outputs.release-tag }}-trial-macOS.dmg"

          
      - name: Extract Aseprite trial (macOS only)
        if: ${{ runner.os == 'macOS' }}
        working-directory: bundle
        shell: bash
        run: |
          printf 'y\n' | hdiutil attach -verbose -quiet -nobrowse -noverify -noautoopen -mountpoint mount "Aseprite-${{ needs.create-release.outputs.release-tag }}-trial-macOS.dmg"
      
      # Has no idea why but its just work ( test on mac )
      - name: Just need click open & close it (macOS only)
        if: ${{ runner.os == 'macOS' }}
        working-directory: bundle
        shell: bash
        run: | 
          cp -rf mount/Aseprite.app . 
          xattr -r -d com.apple.quarantine Aseprite.app
          open Aseprite.app
          sleep 10
          pkill -x Aseprite || true
          
      - name: Replace Binary (macOS only)
        if: ${{ runner.os == 'macOS' }}
        working-directory: bundle
        shell: bash
        run: |
          hdiutil detach mount  
          rm -rf Aseprite.app/Contents/MacOS/aseprite
          cp -rf ../aseprite/build/bin/aseprite Aseprite.app/Contents/MacOS/aseprite
          rm -rf Aseprite.app/Contents/Resources/data
          cp -rf ../aseprite/build/bin/data Aseprite.app/Contents/Resources/data
          
      - name: Clean up bundle (macOS only)
        if: ${{ runner.os == 'macOS' }}
        working-directory: bundle
        shell: bash
        run: |
          rm -f "Aseprite-${{ needs.create-release.outputs.release-tag }}-trial-macOS.dmg"
          rm -rf mount
      
      - name: Create release zip (macOS)
        if: ${{ runner.os == 'macOS' }}
        working-directory: bundle
        run: |
          7z -tzip a Aseprite-${{ needs.create-release.outputs.release-tag }}-${{ runner.os }}.zip *   
      - name: Upload release (macOS)
        if: ${{ runner.os == 'macOS' }}
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: bundle/Aseprite-${{ needs.create-release.outputs.release-tag }}-macOS.zip
          body: Aseprite-${{ needs.create-release.outputs.release-tag }}-macOS.zip
          tag_name: ${{ needs.create-release.outputs.release-tag }}
          draft: true    
          
      - name: Clean Up Build folder
        working-directory: aseprite/build/bin
        if: ${{ runner.os != 'macOS' }}
        shell: bash
        run: |
          find . -mindepth 1 ! \( -name 'aseprite' -o -name 'aseprite.exe' -o -name 'data' -prune \) -exec rm -rf {} +
      
      - name: Make portable zip
        working-directory: aseprite/build/bin
        run: echo '# This file is here so Aseprite behaves as a portable program' > aseprite.ini
      
     
      - name: Create release zip (Windows/Linux)
        if: ${{ runner.os != 'macOS' }}
        working-directory: aseprite/build/bin
        run: |
          7z -tzip a Aseprite-${{ needs.create-release.outputs.release-tag }}-${{ runner.os }}.zip *
  
     

      - name: Upload release 
        uses: softprops/action-gh-release@v1
        if: ${{ runner.os != 'macOS' }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          files: aseprite/build/bin/Aseprite-${{ needs.create-release.outputs.release-tag }}-${{ runner.os }}.zip
          body: Aseprite-${{ needs.create-release.outputs.release-tag }}-${{ runner.os }}.zip
          name: Release ${{ needs.create-release.outputs.release-tag }}
          # tag_name: ${{ needs.create-release.outputs.release-tag }}
          draft: true
